<html>
<head>
		<title> 
			Add categ
		</title>
				
				<nav>
					<h2>Add a Category</h2>
					<a href="/">Home</a>
					<a href="/products">Baq</a>
				</nav>
</head>

		<body>
			<form action="/categories/add" method="post">
				<input type= "text" name= "category" placeholder	="Add a category"/>
				<input type="submit" name="submit" value="Submit"/>
			</form>
		</body>

</html>