<h1>Edit</h1>

{{#data}}
<form action="/Products/update/{{product_id}}" method="POST">
	Description: <input type="text" name="product_id" value="{{product_id}}">	
	<input type="submit">
</form>
{{/data}}
