<!DOCTYPE html>
<html>
<head>
	<title>Nelisa Spaza App</title>
	<h1></h1>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div>
	<div id = "head" style="pointer-events:honer;">
		<center><header><h1>Nelisa Spaza App</h1></header></center>
	</div>
	
	<nav> 
		<a href="/categories">Categories</a>
		<a href="/products">Products</a>
		<a href="/suppliers">Suppliers</a>
		<a href="/purchases">Purchases</a>
		<a href="/sales">Sales</a> 
	</nav>	
	</div>
<image url('/spaza.jpg')</a>

 	
</body>
</html>	
