<h1>Products</h1>
<table class="table">
	<tr>
		<td>
			<h2>Product Name</h2>
		</td>
		<td><h2>Category Name</h2></td>
	</tr>
{{#products}}
  <tr>
  	<td>
  		{{ProductName}}
  	</td>
  	<td>{{CategoryName}}</td>
  	<td>
  		<a href="/Products/edit/{{id}}">Edit</a>
  	</td>
  	<td>
  		<a href="/Products/delete/{{id}}">Delete</a>	
  	</td>

  </tr>
{{/products}}
</table>

	
{{#empty}}
  <p>The list is empty.</p>
{{/empty}}

<div id="add-products">
	
	<h1>Add a product</h1>
	<form action="Products/add" method="POST">
		Description: <input type="text" name="description">	
		<input type="submit">
	</form>
	</table>
</div>
