<html>
<head>
		<title> 
			<h2>
				Edit a Product
			</h2>
		</title>
				<h2>
					<center> Edit a Product</center>
					<a href="/">Home</a>
					
				</h2>
</head>

		<body>
			<form action="/products/edit/{{product.id}}" method="post">
				<input type="text" name="product" placeholder="Edit a product" value="{{product.name}}" /> 
				<input type="submit" name="submit" value="Submit"/>
			</form>
		</body>

</html>