<html>
<head>
		<title> 
			<h2>
				Add a Product
			</h2>
		</title>
				
					<nav>
						<h3>Add a Product</h3>
						<a href="/">Home</a>
						<a href="/products">Baq</a>
					</nav>
					
				
</head>

		<body>

		<!-- var result = mysql_query("select * from Categories"); -->
		
			<form action="/products/add" method="post">
					<h5>Choose a Category before adding/editing a product</h5>

					<select name="categoryId"> 
						{{#categories}}
						    <option value="{{id}}" >{{name}}</option>
						{{/categories}} 
					</select>

						
						
					<input type= "text" name= "product" placeholder	="Add a product"/>
					<input type="submit" name="submit" value="Submit"/>
			</form>
		</body>

</html>