<html>

		<head>
			<nav>
				<title>Add purchase</title>
				<h2>Add a purchase</h2>
				<a href="/">Home</a>
				<a href="/purchases">Baq</a>
			</nav>
			
		</head>

		<body>

		<!-- var result = mysql_query("select * from Categories"); -->
		
			<form action="/purchases/add" method="post">
					<h3>Choose a product before adding a purchase</h3>

<input type="number" name="quantity" min="0" max="1000" value="quantity"placeholder="quantity">

					<select name="product_id" label="Choose Product"> 

						<option selected disabled>Choose Product</option>

						{{#products}}
						    <option value="{{id}}" >{{name}}</option>
						{{/products}} 

					</select>

					<select name="supplier_id"> 

						<option selected disabled>Choose Supplier</option>

						{{#suppliers}}
						    <option value="{{id}}" >{{name}}</option>
						{{/suppliers}} 

					</select>

						
					
					<input type="number" name="cost_price" placeholder="Cost Price">
					<!-- <input type= "text" name= "purchase" placeholder	="Add a purchase"/> -->
					<button type="submit"  >Submit</button>

			</form>
		</body>

</html>