<html>

<head> <title>Add Sales</title>

	<nav>
		<h2>Add Sales</h2>
		<a href="/">Home</a>
		<a href="/sales">Baq</a>
	</nav>
</head>


<body>
	

		<form action="/sales/add" method="post">

			<input type="date" name="date" number="date_format" placeholder="date_format"/>

			<select name="products_id" label="Choose Product">
				{{#products}}
					<option value="{{id}}">{{name}}</option>
				{{/products}}
			</select>

			<input type="number" name="no_sold" placeholder="no_sold"/>
			<!-- <input type="number" name="fish" -->
			<input type="number" name="selling_price" placeholder="selling_price"/>
			<input type="submit" name="submit" value="submit"/>

			

		</form>
</body>


</html>