<html>
<head>
		<title> 
			<h2>
				Edit a Supplier
			</h2>
		</title>
			<nav>
				
					<center>
						<h2>Edit a Supplier</h2>
						<a href="/">Home</a>
						<a href="/suppliers">Baq</a>
					</center>
					

			</nav>
				
</head>

		<body>
			<form action="/suppliers/edit/{{supplier.id}}" method="post">
				<input type="text" name="supplier" placeholder="Edit a supplier" value="{{supplier.name}}" /> 
				<input type="submit" name="submit" value="Submit"/>
			</form>
		</body>

</html>